<div data-ng-if="!vm.isAuthed()">
    
    <div class="login-container">
       <div class="col-sm-4 col-sm-offset-4">
        <form ng-submit="vm.login()">
            
            <div class="form-group">
                <input  type="text"  class="form-control input-lg text-center" placeholder="Name"
                       
                       data-ng-model="vm.user.name" data-ng-maxlength="100">
               
            </div>
            <div class="form-group">
                <input class="form-control input-lg text-center" type="password" placeholder="Password"
                       
                       data-ng-model="vm.user.password" data-ng-maxlength="100">
               
            </div>

      

            <button type="submit" class="btn btn-primary btn-lg" ng-click="login()">Login</button>
        </form>
    </div>
    </div>
    </div>
<div data-ng-if="vm.isAuthed()">

     <div class="jumbotron text-center">
            <h1>I add <span class="label label-info">{{vm.products.length}}</span> products</h1>
        </div>

        
        <div  class="row">
            <div class="col-sm-4 col-sm-offset-4">

                
                <table class="table table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th>Name</th>
        </tr>
    </thead>
    <tbody ng-repeat="product in vm.products">
      <tr>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td><label>
                        <input type="submit" class = " btn btn-danger" value="Delete" data-ng-click="vm.deleteProduct(product._id)">
                       
                    </label></td>
        <td>  <label>
                        
                        <input type="submit" class = " btn btn-info" value="Edit" data-ng-click="vm.getProduct(product._id)"> 
                    </label></td>
      </tr>
                   
         </tbody>
         </table>          
                     
                </div>

        
<div class="col-sm-4 col-sm-offset-4">
                <form>
                    <div class="form-group">

                        
                        <input class="form-control input-lg text-center" placeholder="Name" ng-model="vm.formProduct.name">
                    </div>
                     <div class="form-group">

                        
                        <input  class="form-control input-lg text-center" placeholder="Price" ng-model="vm.formProduct.price">
                    </div>

                    
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="vm.updateProduct(vm.formProduct._id)">Update</button>
                  
                </form>
         </div>
                  

        
 <div class="col-sm-4 col-sm-offset-4">
 <br/>
                <form ng-submit = "vm.createProduct()">
                    <div class="form-group">

                      
                        <input type="text" class="form-control input-lg text-center" placeholder="Enter name" data-ng-model="vm.formData.name">
                    </div>
                     <div class="form-group">

                        
                        <input type="text" class="form-control input-lg text-center" placeholder="Enter band" data-ng-model="vm.formData.price">
                    </div>

                  
                    <button type="submit" class="btn btn-primary btn-lg">Add</button>
                </form>
            </div>
        
<button type="submit" class="btn btn-primary btn-lg" ng-click="vm.logout()">Logout</button>
    </div>

